.one {
    background-color: rgb(234,226,224);
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
}
h1 {
    padding-top: 10%;
    font-size: 600%;
    font-family:'Calibri';
    color: white;
    margin-bottom: 0;
}

hr {

    border: none;
    height: 1px;
    background-color: white;
}

h3 {
    margin-top: 0;
    font-size: 200%;
    font-family:'Calibri';
    color: white;
}

.two {
    height: 15vh;
    width: 100vmax;
}

.home {
    position: absolute;
    right: 10px;
    height: 15vh;
}

.three {
    margin-left: 15%;
    height: 70vh;
    width: 70vmax;
    opacity: 100%;
}

.four {
    display: flex;
    height: 15vh;
    width: 100vmax;
    justify-content: center;
}

.arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 40px solid white; /* Set the color of the arrow */
  }

  .arrow-right {
    display: inline-block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 40px solid white; /* Set the color of the arrow */
  }